In [38]:
first350 = pd.read_csv('/Users/judy/Desktop/WebScp/GitWebScp/kicktraq/kicktraq/kicktraq_first_350.csv')

In [39]:
first350.sample(10)

,backers,category,currency,description,goal,main_category,names,pledged,proj_details,status
219,8,food|restaurants,$,We are creating a fun experience that brings y...,5000.0,food,Clock Tower Pizza - a Back To The Future Theme...,971.0,"\n\t\t\t\t\tBackers: 8,\n\t\t\t\t\tFunding: $9...",Cancelled
53,60,games|playing cards,€,Pencil Skulls playing cards. Designed as fine ...,9700.0,games,Pencil Skull Playing Cards,1963.0,"\n\t\t\t\t\tBackers: 60,\n\t\t\t\t\tFunding: €...",Cancelled
479,111,food|drinks,£,Our hassle free monthly coffee subscription bo...,3000.0,food,WOKE coffee box: Discover a variety of coffee ...,3956.0,"\n\t\t\t\t\tBackers: 111,\n\t\t\t\t\tFunding: ...",Closed
1766,3,publishing|children's books,$,Decodable & Short Vowels | Fun Stories & Illus...,50000.0,publishing,'LEARN TO READ' - Phonics & Sight Words Storyb...,3.0,"\n\t\t\t\t\tBackers: 3,\n\t\t\t\t\tFunding: $3...",Closed
213,33,technology|gadgets,NaN,The research-based and feature-packed cat toy ...,NaN,technology,TrickyPaw — A Cat's Smart Companion,NaN,"\n\t\t\t\t\tBackers: 33,\n\t\t\t\t\tFunding: H...",Cancelled
1852,2,technology|web,$,Thairapy intends to create an online education...,12500.0,technology,Thairapy Integrated Upgrade 1.0,101.0,"\n\t\t\t\t\tBackers: 2,\n\t\t\t\t\tFunding: $1...",Closed
3067,54,fashion|accessories,€,Seriously High-quality Sustainable Sunglasses,4630.0,fashion,The Best Sustainable Sunglasses Ever - Koko De...,5192.0,"\n\t\t\t\t\tBackers: 54,\n\t\t\t\t\tFunding: €...",Closed
3247,277,games|tabletop games,$,A long distance hiking & survival RPG. The man...,500.0,games,The Hike That Binds Us - RPG,6395.0,"\n\t\t\t\t\tBackers: 277,\n\t\t\t\t\tFunding: ...",Closed
1179,15,art|illustration,$,Some Zelda breath of the wild pins! Starting w...,900.0,art,Zelda pins,174.0,"\n\t\t\t\t\tBackers: 15,\n\t\t\t\t\tFunding: $...",Closed
515,1,design|product design,$,We are disrupting the dairy aisle: sustainable...,12000.0,design,Bob's Natural: First Yogurt in a 100% biodegra...,1.0,"\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tFunding: $1...",Cancelled

In [40]:
first350.where(first350['names'].isin(['Lit Playing Cards V2']))

,backers,category,currency,description,goal,main_category,names,pledged,proj_details,status
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
first350['main_category'].value_counts()

games              1127
art                 666
technology          628
design              585
publishing          483
fashion             400
comics              321
music               291
film & video        281
food                187
crafts              123
photography          82
journalism           29
dance                18
theater              12
social practice      11
sculpture             5
Name: main_category, dtype: int64

In [42]:
x=first350.shape[0]

In [43]:
x/15

349.93333333333334

In [44]:
second700 = pd.read_csv('/Users/judy/Desktop/WebScp/GitWebScp/kicktraq/kicktraq/kicktraq_second_700.csv')

In [47]:
y = second700.shape[0]

In [48]:
y/15

349.93333333333334

In [49]:
df = pd.read_csv('/Users/judy/Desktop/WebScp/GitWebScp/kicktraq/kicktraq/kicktraq.csv')

In [50]:
z = df.shape[0]
z/15

699.6666666666666

In [ ]:
df[backers]

In [ ]:
month_dict = {'January':'01', 'February':'02', 'March':'03', 'April':'04', 'May':'05', 'June':'06', 'July':'07', 'August':'08', 'September':'09', 'October':'10', 'November':'11', 'December':'12'}

In [17]:
category = ['/categories/main/']
main_category = ''
if len(category) == 1:
    main_category = category[0].strip('/').replace('categories/','')
    category = None
else:
    main_category = category[0].strip('/').replace('categories/','')
    category = category[1].strip('/').replace('categories/','').replace('/','|')
print(main_category)
print(category)

main
None

In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('ks-projects-201801.csv')
df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,25.0,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.00

In [10]:
df.columns.tolist()

['ID',
 'name',
 'category',
 'main_category',
 'currency',
 'deadline',
 'goal',
 'launched',
 'pledged',
 'state',
 'backers',
 'country',
 'usd pledged',
 'usd_pledged_real',
 'usd_goal_real']

In [11]:
df['deadline'].sort_values(ascending=False)

7164      2018-03-03
180250    2018-03-03
226982    2018-03-03
124919    2018-03-02
292034    2018-03-02
             ...
196244    2009-05-22
28960     2009-05-20
342226    2009-05-16
213711    2009-05-16
138572    2009-05-03
Name: deadline, Length: 378661, dtype: object

In [12]:
df['currency'].value_counts()

USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: currency, dtype: int64