In [194]:
import pandas as pd
import numpy as np
import re

##### Check scraped 700 pages

In [4]:
df = pd.read_csv('/Users/judy/Desktop/WebScp/GitWebScp/kicktraq/kicktraq/kicktraq.csv')

In [5]:
df.shape[0]/15 #15 projects per page

699.6666666666666

In [151]:
df.shape[0]

378661

###### Rescraped to include try except=None on backers

In [153]:
df2 = pd.read_csv('/Users/judy/Desktop/WebScp/GitWebScp/kicktraq/kicktraq/kicktraq2.csv')

In [139]:
df2.shape[0]/15 # check if 700 pages

699.6666666666666

##### Check to see if any backers null

In [140]:
df2.loc[df2['backers'].isnull()] #no nulls

Empty DataFrame
Columns: [backers, category, currency, description, goal, main_category, names, pledged, proj_details, status]
Index: []

##### Check to see if two scrapes returned same number rows

In [141]:
df2.shape[0] == df.shape[0]

False

### Cleaning and renaming colunms

##### Using df2 reassign as dfn for newly scraped kicktraq - to distinguish between older kaggle dataset (dfo)

In [154]:
dfn = df2

In [155]:
dfn.sample(5)

,backers,category,currency,description,goal,main_category,names,pledged,proj_details,status
7748,67,NaN,$,Freedom City Worship is creating a full length...,10000.0,music,Freedom City Worship's Full Length Album: JERICHO,11531.0,"\n\t\t\t\t\tBackers: 67,\n\t\t\t\t\tFunding: $...",Closed
7896,17,art|digital art,$,"Apricot enamel pins, made with love",300.0,art,Apricot enamel pins,318.0,"\n\t\t\t\t\tBackers: 17,\n\t\t\t\t\tFunding: $...",Closed
3926,294,comics|comic books,$,The popular sci-fi adventure continues!,4000.0,comics,INTO THE SUCK #5,16259.0,"\n\t\t\t\t\tBackers: 294,\n\t\t\t\t\tFunding: ...",Closed
8771,55,games|playing cards,$,"Expose hilarious hidden talents, or lack there...",2000.0,games,Cards That Make You lol - A Game of Hit or Mis...,2001.0,"\n\t\t\t\t\tBackers: 55,\n\t\t\t\t\tFunding: $...",Closed
10056,25,NaN,$,An animated film that explores the intersectio...,7500.0,film & video,THE BIRTH OF ELIAS AJAGA,1836.0,"\n\t\t\t\t\tBackers: 25,\n\t\t\t\t\tFunding: $...",Closed

##### Extracting date portion of proj_details into 'campaign_dates' col - there are no missing values

In [156]:
### KEEP THIS! THIS GETS campaign dates as a chunck will play with to get datetimes
dfn['campaign_dates'] = [re.findall('Campaign (Dates: .+)', el)[0] for el in dfn['proj_details']]

##### 'launched' col from campaign_dates

In [173]:
# 
start_date = [re.findall('Dates: (\D*) (\d*).+\((\d+)\)', el)[0] for el in dfn['campaign_dates']]

In [189]:
start_date = [' '.join(date) for date in start_date]

In [196]:
dfn['launched']= [pd.datetime.strptime(s, '%B %d %Y') for s in start_date]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

In [197]:
dfn

,backers,category,currency,description,goal,main_category,names,pledged,proj_details,status,campaign_dates,launched
0,10,food|drinks,$,A do it yourself boba tea kit that allows you ...,3000.0,food,Boba Era: Boba From Home,401.0,"\n\t\t\t\t\tBackers: 10,\n\t\t\t\t\tFunding: $...",Cancelled,"Dates: June 3rd -> August 2nd (2020),",2020-06-03
1,1,fashion|apparel,$,Sophisticated Mexican old school style apparel.,16578.0,fashion,Mr Cochino Apparel,1.0,"\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tFunding: $1...",Cancelled,"Dates: June 26th -> August 2nd (2020),",2020-06-26
2,1,fashion|apparel,NaN,RotenStein Clothing Co. Una nueva marca de rop...,NaN,fashion,RotenStein Clothing Co. (Arte en tu ropa),NaN,"\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tFunding: MX...",Cancelled,"Dates: June 3rd -> August 2nd (2020),",2020-06-03
3,1,games|video games,$,"Z-City, A Zombie based Survival-Battle Royale ...",5000.0,games,Z-City Survival-Battle Royale,1.0,"\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tFunding: $1...",Cancelled,"Dates: July 3rd -> August 2nd (2020),",2020-07-03
4,0,comics|graphic novels,$,A Samurai Horror Graphic Novel,7500.0,comics,Death Kanji,0.0,"\n\t\t\t\t\tBackers: 0,\n\t\t\t\t\tFunding: $0...",Cancelled,"Dates: July 3rd -> August 2nd (2020),",2020-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
10490,1,fashion|apparel,$,Help us become the new kid on the block in spo...,12100.0,fashion,The Sportswear of the future. Could This Be th...,1.0,"\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tFunding: $1...",Cancelled,"Dates: June 17th -> August 1st (2020),",2020-06-17
10491,1,film & video|drama,€,"An independent movie, written, directed and sh...",50000.0,film & video,Der Proceß (2021),1.0,"\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tFunding: €1...",Cancelled,"Dates: June 25th -> August 1st (2020),",2020-06-25
10492,0,NaN,$,Peace of Mind by Eliminating Phone Radiation /...,1.0,technology,FantaStick™ Phone Grip that Eliminates 98% Pho...,0.0,"\n\t\t\t\t\tBackers: 0,\n\t\t\t\t\tFunding: $0...",Cancelled,"Dates: July 2nd -> August 1st (2020),",2020-07-02
10493,4,NaN,$,An official EP- which will introduce to the wo...,5000.0,music,Fatima Reedy Music Journey,17.0,"\n\t\t\t\t\tBackers: 4,\n\t\t\t\t\tFunding: $1...",Cancelled,"Dates: June 28th -> August 1st (2020),",2020-06-28
10494,22,NaN,$,Beach Themed Enamel Pins,2090.0,art,Summer Tales,1301.0,"\n\t\t\t\t\tBackers: 22,\n\t\t\t\t\tFunding: $...",Cancelled,"Dates: July 12th -> July 31st (2020),",2020-07-12

In [187]:
s = "8 March, 2017"
d = datetime.strptime(s, '%d %B, %Y')

['June',
 '3',
 '2020',
 'June',
 '26',
 '2020',
 'June',
 '3',
 '2020',
 'July',
 '3',
 '2020',
 'July',
 '3',
 '2020',
 'June',
 '18',
 '2020',
 'July',
 '8',
 '2020',
 'July',
 '3',
 '2020',
 'July',
 '3',
 '2020',
 'July',
 '3',
 '2020',
 'July',
 '3',
 '2020',
 'July',
 '3',
 '2020',
 'June',
 '13',
 '2020',
 'July',
 '3',
 '2020',
 'July',
 '9',
 '2020',
 'June',
 '4',
 '2020',
 'July',
 '4',
 '2020',
 'July',
 '1',
 '2020',
 'June',
 '26',
 '2020',
 'June',
 '4',
 '2020',
 'July',
 '4',
 '2020',
 'June',
 '19',
 '2020',
 'June',
 '4',
 '2020',
 'June',
 '4',
 '2020',
 'July',
 '4',
 '2020',
 'June',
 '25',
 '2020',
 'June',
 '4',
 '2020',
 'June',
 '4',
 '2020',
 'June',
 '4',
 '2020',
 'June',
 '24',
 '2020',
 'June',
 '6',
 '2020',
 'July',
 '6',
 '2020',
 'June',
 '26',
 '2020',
 'July',
 '1',
 '2020',
 'July',
 '6',
 '2020',
 'June',
 '6',
 '2020',
 'July',
 '6',
 '2020',
 'June',
 '6',
 '2020',
 'June',
 '6',
 '2020',
 'June',
 '5',
 '2020',
 'June',
 '5',
 '2020',
 'June',
 '25',
 '2020',
 'July',
 '5',
 '2020',
 'June',
 '5',
 '2020',
 'June',
 '5',
 '2020',
 'July',
 '8',
 '2020',
 'June',
 '8',
 '2020',
 'July',
 '6',
 '2020',
 'July',
 '3',
 '2020',
 'July',
 '8',
 '2020',
 'July',
 '8',
 '2020',
 'July',
 '8',
 '2020',
 'June',
 '18',
 '2020',
 'July',
 '7',
 '2020',
 'July',
 '7',
 '2020',
 'July',
 '7',
 '2020',
 'July',
 '7',
 '2020',
 'July',
 '7',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '7',
 '2020',
 'June',
 '10',
 '2020',
 'July',
 '9',
 '2020',
 'July',
 '10',
 '2020',
 'July',
 '10',
 '2020',
 'July',
 '9',
 '2020',
 'July',
 '9',
 '2020',
 'July',
 '9',
 '2020',
 'June',
 '30',
 '2020',
 'June',
 '24',
 '2020',
 'June',
 '29',
 '2020',
 'July',
 '9',
 '2020',
 'June',
 '9',
 '2020',
 'June',
 '9',
 '2020',
 'July',
 '7',
 '2020',
 'July',
 '8',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '15',
 '2020',
 'June',
 '13',
 '2020',
 'June',
 '22',
 '2020',
 'July',
 '11',
 '2020',
 'July',
 '12',
 '2020',
 'July',
 '7',
 '2020',
 'June',
 '11',
 '2020',
 'June',
 '11',
 '2020',
 'July',
 '11',
 '2020',
 'June',
 '11',
 '2020',
 'June',
 '10',
 '2020',
 'June',
 '10',
 '2020',
 'July',
 '10',
 '2020',
 'June',
 '10',
 '2020',
 'July',
 '2',
 '2020',
 'June',
 '17',
 '2020',
 'July',
 '17',
 '2020',
 'June',
 '16',
 '2020',
 'July',
 '10',
 '2020',
 'June',
 '15',
 '2020',
 'July',
 '15',
 '2020',
 'June',
 '15',
 '2020',
 'July',
 '17',
 '2020',
 'July',
 '16',
 '2020',
 'June',
 '16',
 '2020',
 'June',
 '16',
 '2020',
 'July',
 '16',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '16',
 '2020',
 'July',
 '21',
 '2020',
 'June',
 '16',
 '2020',
 'June',
 '16',
 '2020',
 'June',
 '16',
 '2020',
 'June',
 '16',
 '2020',
 'June',
 '30',
 '2020',
 'July',
 '15',
 '2020',
 'July',
 '15',
 '2020',
 'June',
 '25',
 '2020',
 'June',
 '15',
 '2020',
 'July',
 '11',
 '2020',
 'July',
 '16',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '9',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '10',
 '2020',
 'July',
 '8',
 '2020',
 'June',
 '20',
 '2020',
 'July',
 '19',
 '2020',
 'July',
 '19',
 '2020',
 'July',
 '5',
 '2020',
 'July',
 '14',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '17',
 '2020',
 'June',
 '17',
 '2020',
 'July',
 '17',
 '2020',
 'June',
 '17',
 '2020',
 'June',
 '17',
 '2020',
 'June',
 '25',
 '2020',
 'June',
 '25',
 '2020',
 'June',
 '25',
 '2020',
 'July',
 '10',
 '2020',
 'July',
 '3',
 '2020',
 'July',
 '6',
 '2020',
 'June',
 '24',
 '2020',
 'June',
 '23',
 '2020',
 'July',
 '23',
 '2020',
 'June',
 '22',
 '2020',
 'July',
 '7',
 '2020',
 'June',
 '28',
 '2020',
 'June',
 '25',
 '2020',
 'June',
 '21',
 '2020',
 'July',
 '21',
 '2020',
 'July',
 '7',
 '2020',
 'July',
 '6',
 '2020',
 'July',
 '5',
 '2020',
 'July',
 '16',
 '2020',
 'July',
 '7',
 '2020',
 'July',
 '8',
 '2020',
 'July',
 '2',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '2',
 '2020',
 'July',
 '2',
 '2020',
 'July',
 '17',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '1',
 '2020',
 'July',
 '18',
 '2020',
 'July',
 '10',
 '2020',
 'June',
 '30',
 '2020',
 'June',
 '30',
 '2020',
 'June',
 '30',
 '2020',
 'June',
 '29',
 '2020',
 'June',
 '29',
 '2020',
 'June',
 '29',
 '2020',
 'June',
 '29',
 '2020',
 'July',
 '21',
 '2020',
 'July',
 '13',
 '2020',
 'June',
 '27',
 '2020',
 'June',
 '27',
 '2020',
 'June',
 '26',
 '2020',
 'June',
 '26',
 '2020',
 'June',
 '26',
 '2020',
 'June',
 '26',
 '2020',
 'July',
 '16',
 '2020',
 'July',
 '15',
 '2020',
 'July',
 '15',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '14',
 '2020',
 'July',
 '13',
 '2020',
 'July',
 '12',
 '2020',
 'July',
 '12',
 '2020',
 'July',
 '12',
 '2020',
 'July',
 '11',
 '2020',
 'July',
 '10',
 '2020',
 'July',
 '9',
 '2020',
 'July',
 '9',
 '2020',
 'July',
 '7',
 '2020',
 'June',
 '18',
 '2020',
 'May',
 '20',
 '2020',
 'June',
 '18',
 '2020',
 'May',
 '19',
 '2020',
 'May',
 '19',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'May',
 '19',
 '2020',
 'May',
 '19',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '8',
 '2020',
 'May',
 '19',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '7',
 '2020',
 'June',
 '13',
 '2020',
 'May',
 '19',
 '2020',
 'May',
 '19',
 '2020',
 'June',
 '8',
 '2020',
 'June',
 '18',
 '2020',
 'July',
 '15',
 '2020',
 'June',
 '22',
 '2020',
 'June',
 '16',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'May',
 '19',
 '2020',
 'June',
 '3',
 '2020',
 'June',
 '24',
 '2020',
 'June',
 '12',
 '2020',
 'May',
 '19',
 '2020',
 'June',
 '8',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'May',
 '19',
 '2020',
 'May',
 '19',
 '2020',
 'June',
 '16',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'June',
 '18',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '25',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '16',
 '2020',
 'March',
 '6',
 '2020',
 'April',
 '2',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '1',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '3',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '28',
 '2020',
 'March',
 '5',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '28',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '13',
 '2020',
 'March',
 '11',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '26',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '22',
 '2020',
 'February',
 '5',
 '2020',
 'February',
 '6',
 '2020',
 'March',
 '30',
 '2020',
 'March',
 '15',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '5',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '1',
 '2020',
 'March',
 '2',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '20',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '4',
 '2020',
 'March',
 '4',
 '2020',
 'February',
 '5',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '4',
 '2020',
 'February',
 '15',
 '2020',
 'February',
 '25',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '2',
 '2020',
 'March',
 '20',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '19',
 '2020',
 'March',
 '25',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '16',
 '2020',
 'February',
 '29',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '20',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '8',
 '2020',
 'March',
 '9',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '23',
 '2020',
 'January',
 '22',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '6',
 '2020',
 'March',
 '14',
 '2020',
 'February',
 '14',
 '2020',
 'February',
 '27',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '5',
 '2020',
 'February',
 '6',
 '2020',
 'February',
 '9',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '25',
 '2020',
 'March',
 '6',
 '2020',
 'February',
 '5',
 '2020',
 'March',
 '7',
 '2020',
 'February',
 '26',
 '2020',
 'March',
 '16',
 '2020',
 'February',
 ...]

In [181]:
start_m

'June'

In [ ]:
                year = list(chain(*[re.findall('\((\d*)\)', date) for date in dates]))[0]
                # year = [re.findall('\((\d*)\)', date) for date in dates] #iterating over list of strings('dates') to find year
                # year = ''.join(list(chain(*year))) #flattening list and joining elements to get string

                start = [[el for el in re.findall('Dates: (\D*) (\d*)..', date)] for date in dates]
                start_month, start_day = list(chain(*start))[0]

##### Extracting funding portion of proj_details into 'funding' col also deals with missing values

In [146]:
##### KEEP THIS HOW WE GOT THE FUNDING STRING EVEN IF MISSING
dfn['funding'] = [None if re.findall('Funding: (.*)', el)==[] else re.findall('Funding: (.*)', el)[0] for el in dfn['proj_details']]

In [147]:
dfn['funding']

0           $401 of $3,000 (,13% funded,),
1             $1 of $16,578 (,0% funded,),
2        MX$19 of MX$73,000 (,0% funded,),
3              $1 of $5,000 (,0% funded,),
4              $0 of $7,500 (,0% funded,),
                       ...
10490         $1 of $12,100 (,0% funded,),
10491         €1 of €50,000 (,0% funded,),
10492              $0 of $1 (,0% funded,),
10493         $17 of $5,000 (,0% funded,),
10494     $1,301 of $2,090 (,62% funded,),
Name: funding, Length: 10495, dtype: object

### Splitting category

In [148]:
#### KEEP
dfn_cat = dfn['category'].str.split('|',expand=True) #this one and merge to data frame

###### concat dfn and dfn_cat, drop 0 (name of the first component of split), rename second new column 'sub_category'

In [149]:
#### KEEP
dfn = pd.concat([dfn, dfn_cat], axis=1).drop(0,1).rename(columns = {1:'sub_category'})

In [150]:


dfn.sample(5)

,backers,category,currency,description,goal,main_category,names,pledged,proj_details,status,campaign_dates,funding,sub_category
10132,1095,fashion|apparel,$,"Quick-dry, antibacterial, and eco-friendly und...",10000.0,fashion,"SOMI: Undies that Lounge, Gym, & Swim",105659.0,"\n\t\t\t\t\tBackers: 1095,\n\t\t\t\t\tFunding:...",Closed,"June 17th -> July 21st (2020),","$105,659 of $10,000 (,1056% funded,),",apparel
2354,26,fashion|accessories,€,35mm wide rainbow metal pins with holographic ...,350.0,fashion,Certified Crazy Cat Lover and Certified Crazy ...,396.0,"\n\t\t\t\t\tBackers: 26,\n\t\t\t\t\tFunding: €...",Closed,"March 27th -> April 26th (2020),","€396 of €350 (,113% funded,),",accessories
9100,345,comics|comic books,$,A pulse-pounding sci-fi mystery about a scient...,6000.0,comics,Duplicant 1-3: A Dystopian Biopunk Thriller,9546.0,"\n\t\t\t\t\tBackers: 345,\n\t\t\t\t\tFunding: ...",Closed,"June 10th -> July 10th (2020),","$9,546 of $6,000 (,159% funded,),",comic books
2813,12,art|video art,£,"A feature film about Mary I, the first queen r...",3000.0,art,Seed funding for feature film 'THE FIRST QUEEN',3000.0,"\n\t\t\t\t\tBackers: 12,\n\t\t\t\t\tFunding: £...",Closed,"March 10th -> May 1st (2020),","£3,000 of £3,000 (,100% funded,),",video art
2705,11,NaN,$,An all-play card game,10000.0,games,BULL TISH! The game that's absolutely FULL OF IT!,320.0,"\n\t\t\t\t\tBackers: 11,\n\t\t\t\t\tFunding: $...",Closed,"March 31st -> April 30th (2020),","$320 of $10,000 (,3% funded,),",NaN

In [103]:
# dfn['main_category'] = [el.split('|')[0] for el in dfn['category']] # would work if had no missing
# dfn['sub_category'] = [el.split('|')[1] for el in dfn['category']]

In [10]:
dfn.columns

Index(['backers', 'category', 'currency', 'description', 'goal',
       'main_category', 'names', 'pledged', 'proj_details', 'status'],
      dtype='object')

In [72]:
# test_list = ['\n\t\t\t\t\tBackers: 10,\n\t\t\t\t\tFunding: $401 of $3,000 (,13% funded,),\n\t\t\t\t\tCampaign Dates: June 3rd -> August 2nd (2020),\n\t\t\t\t\tClosed: Sunday August 2nd, 2020,\n\t\t\t\t',
#  '\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tCampaign Dates: June 26th -> August 2nd (2020),\n\t\t\t\t\tClosed: Sunday August 2nd, 2020,\n\t\t\t\t',
#  '\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tFunding: MX$19 of MX$73,000 (,0% funded,),\n\t\t\t\t\tCampaign Dates: June 3rd -> August 2nd (2020),\n\t\t\t\t\tClosed: Sunday August 2nd, 2020,\n\t\t\t\t',]

##### Changing currency

In [147]:
dfn['currency'].value_counts() # see what currency we have

$    6661
€    1560
£    1446
¥      71
Name: currency, dtype: int64

##### creating currency exchange data frame

In [148]:
symb_dict = {'currency':['$','€','£', '¥'], 'currency_code':['USD', 'EUR', 'GPB', 'JPY'], 'exchange_rt_to_USD': [1, 1.16, 1.28, 0.0094]}
df_cur_sym = pd.DataFrame(symb_dict)
df_cur_sym

  currency currency_code  exchange_rt_to_USD
0        $           USD              1.0000
1        €           EUR              1.1600
2        £           GPB              1.2800
3        ¥           JPY              0.0094

##### merge dfn with currency exchange

In [149]:
dfn = pd.merge(dfn, df_cur_sym, how='left', on='currency')

,backers,category,currency,description,goal,main_category,names,pledged,proj_details,status,currency_code,exchange_rt_to_USD
5394,52,fashion|apparel,$,It's time for an Austin icon to finally give y...,9000.0,fashion,Pre-order Lucy in Disguise with Diamonds T-shirts,1736.0,"\n\t\t\t\t\tBackers: 52,\n\t\t\t\t\tFunding: $...",Closed,USD,1.0
8952,54,games|tabletop games,$,An RPG splat book using the OGL for the greate...,12500.0,games,The Elegant Fount: More Creativity for your Dn...,2212.0,"\n\t\t\t\t\tBackers: 54,\n\t\t\t\t\tFunding: $...",Closed,USD,1.0
10116,16,NaN,NaN,Promoting cleanliness at the tip of your fingers,NaN,design,LuftGuard™ | Hands-Free Sprayer and Dispenser,NaN,"\n\t\t\t\t\tBackers: 16,\n\t\t\t\t\tFunding: H...",Closed,NaN,NaN
8078,59,comics|graphic novels,$,"""Chapter 1: Reflections""",2500.0,comics,"SOUL, The Graphic Novel",3540.0,"\n\t\t\t\t\tBackers: 59,\n\t\t\t\t\tFunding: $...",Closed,USD,1.0
7856,73,fashion|apparel,$,Wearable Billboards for Goodness Sake. Worn to...,5500.0,fashion,ShirtBOARDS,7597.0,"\n\t\t\t\t\tBackers: 73,\n\t\t\t\t\tFunding: $...",Closed,USD,1.0

In [154]:
dfn.sample(5)

,backers,category,currency,description,goal,main_category,names,pledged,proj_details,status,currency_code,exchange_rt_to_USD
2931,5,NaN,€,Louis Lagrange wants to inspire a lifestyle by...,500.0,design,Redefining Italian Luxury Classic Bracelet - L...,181.0,"\n\t\t\t\t\tBackers: 5,\n\t\t\t\t\tFunding: €1...",Cancelled,EUR,1.16
7379,128,games|playing cards,$,An innovative 80-card Oracle Deck integrating ...,2900.0,games,Soul Wisdom Oracle Cards,7206.0,"\n\t\t\t\t\tBackers: 128,\n\t\t\t\t\tFunding: ...",Closed,USD,1.00
7046,25,crafts|stationery,$,A set of Greek greeting cards and stationery.,1000.0,crafts,Illustrated Cards by Vassi M Haros,1097.0,"\n\t\t\t\t\tBackers: 25,\n\t\t\t\t\tFunding: $...",Closed,USD,1.00
9386,1,fashion|apparel,€,una marca de ropa basada en mi mascota (americ...,2500.0,fashion,Amerdican Blue,1.0,"\n\t\t\t\t\tBackers: 1,\n\t\t\t\t\tFunding: €1...",Closed,EUR,1.16
2361,4,fashion|footwear,NaN,"PetStep, tenis personalizados pintados a mano,...",NaN,fashion,"PetStep, tenis personalizados pintados a mano",NaN,"\n\t\t\t\t\tBackers: 4,\n\t\t\t\t\tFunding: MX...",Closed,NaN,NaN

#### updating status column to include fail and success, percent funded, usd pledged, usd goal

In [93]:
df2_sort_names=df2.sort_values('names')['names']
df2_sort_names=df2_sort_names.dropna(axis=0, how='any')
df2_sort_names.shape[0]

10493

In [92]:
merged_names = pd.merge(df_sort_names, df2_sort_names, how = 'outer', on='names')
merged_names.shape[0]/15

712.3333333333334

In [ ]:
merged_names.loc[merged_names]

In [73]:
here = ['! EMPOWER MY POTENTIAL - DEVOUR MY MENTAL !',
 '" " -> Quotidian - a poetry debut collection',]
there = ['! EMPOWER MY POTENTIAL - DEVOUR MY MENTAL !',
 '" " -> Quotidian - a poetry debut collection',]
here == there

True

In [87]:
df2_sort_names == df_sort_names

False

In [ ]:
# month_dict = {'January':'01', 'February':'02', 'March':'03', 'April':'04', 'May':'05', 'June':'06', 'July':'07', 'August':'08', 'September':'09', 'October':'10', 'November':'11', 'December':'12'}

In [17]:
# category = ['/categories/main/']
# main_category = ''
# if len(category) == 1:
#     main_category = category[0].strip('/').replace('categories/','')
#     category = None
# else:
#     main_category = category[0].strip('/').replace('categories/','')
#     category = category[1].strip('/').replace('categories/','').replace('/','|')
# print(main_category)
# print(category)

main
None

In [86]:
df = pd.read_csv('/Users/judy/Desktop/WebScp/GitWebScp/data/Web_Scraping_Proj/ks-projects-201801.csv')
df.sample(20)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
109037,1554153481,The SIFF Orchestra,Classical Music,Music,USD,2012-05-08,5000.0,2012-04-06 10:51:06,5737.00,successful,44,US,5737.00,5737.00,5000.00
188708,1960221447,This Year Funk,Dance,Dance,USD,2015-05-20,400.0,2015-05-05 00:28:56,0.00,failed,0,US,0.00,0.00,400.00
170418,1866985640,"The Tin, a Boston police drama",Shorts,Film & Video,USD,2011-11-16,8000.0,2011-10-12 17:34:36,8425.77,successful,53,US,8425.77,8425.77,8000.00
327837,739749652,Omnia Playing Cards,Playing Cards,Games,USD,2015-07-02,10000.0,2015-06-02 12:52:45,44147.00,successful,784,US,44147.00,44147.00,10000.00
102457,1520608340,Walkin' After Midnight.,Sculpture,Art,USD,2012-01-17,1000.0,2011-12-20 10:40:01,1000.01,successful,19,US,1000.01,1000.01,1000.00
374915,980646100,Uniquely Me - A Children's Book For Kids With ...,Children's Books,Publishing,USD,2015-07-01,5000.0,2015-05-02 09:06:44,5843.00,successful,92,US,5843.00,5843.00,5000.00
15316,107737680,EvoCreo™,Video Games,Games,USD,2014-03-07,6000.0,2014-02-05 16:20:11,2992.25,failed,234,US,2992.25,2992.25,6000.00
168297,1856198403,The Lost Dungeons of Xon: Pathfinder compatibl...,Tabletop Games,Games,USD,2014-07-29,15000.0,2014-06-27 05:20:29,7407.00,failed,194,US,7407.00,7407.00,15000.00
249450,338750243,Help me release my first EP!,Music,Music,USD,2015-07-22,600.0,2015-06-22 17:11:50,75.00,failed,3,US,75.00,75.00,600.00
166768,184826515,The Wounded Healer,Action,Film & Video,USD,2016-11-22,5000.0,2016-09-23 23:08:08,35.00,canceled,1,US,35.00,35.00,5000.00
58941,1299813403,"Animated film of the song ""When I'm With You"".",Animation,Film & Video,USD,2012-05-03,2500.0,2012-03-19 19:02:09,2576.00,successful,36,US,2576.00,2576.00,2500.00
188681,1960079125,TAS-CON 2016,Games,Games,USD,2016-02-16,660.0,2016-01-17 18:25:28,1459.12,successful,50,US,1459.12,1459.12,660.00
308774,642809436,The Vision,Shorts,Film & Video,USD,2013-02-01,200.0,2013-01-02 21:39:26,261.00,successful,6,US,261.00,261.00,200.00
202116,2029129200,FreeRange at Edinburgh Fringe 2013,Theater,Theater,GBP,2013-07-18,1000.0,2013-07-11 22:45:04,1005.00,successful,16,GB,1493.75,1533.65,1526.02
180260,1917089685,LucasFX Productions,Film & Video,Film & Video,USD,2015-02-28,25000.0,2015-01-29 07:14:52,0.00,failed,0,US,0.00,0.00,25000.00
335603,779557263,MaData : Vos données vous appartiennent,Software,Technology,EUR,2015-12-02,50000.0,2015-11-02 17:11:56,2.00,failed,2,FR,2.20,2.18,54510.17
109791,1557814244,"Little Monkey, Be You (Children's Book)",Children's Books,Publishing,USD,2015-03-01,4500.0,2015-01-30 00:13:14,5137.00,successful,92,US,5137.00,5137.00,4500.00
345787,831418979,106 Paintings on Canvas + 200 Drawings on Pape...,Painting,Art,USD,2014-10-26,500.0,2014-08-29 04:34:49,0.00,canceled,0,US,0.00,0.00,500.00
26003,1132046772,Jay Beale - Debut Album,Music,Music,GBP,2013-06-26,500.0,2013-05-27 20:18:00,800.00,successful,36,GB,1210.32,1220.72,762.95
272931,458597338,Eat Our Feelings,Webseries,Film & Video,USD,2014-09-15,12000.0,2014-08-16 23:42:08,15774.00,successful,313,US,15774.00,15774.00,12000.00

In [87]:
df.columns.tolist()

['ID',
 'name',
 'category',
 'main_category',
 'currency',
 'deadline',
 'goal',
 'launched',
 'pledged',
 'state',
 'backers',
 'country',
 'usd pledged',
 'usd_pledged_real',
 'usd_goal_real']

In [88]:
df['currency'].value_counts()

USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: currency, dtype: int64

In [11]:
df['deadline'].sort_values(ascending=False)

7164      2018-03-03
180250    2018-03-03
226982    2018-03-03
124919    2018-03-02
292034    2018-03-02
             ...
196244    2009-05-22
28960     2009-05-20
342226    2009-05-16
213711    2009-05-16
138572    2009-05-03
Name: deadline, Length: 378661, dtype: object

In [12]:
df['currency'].value_counts()

USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: currency, dtype: int64